.homepage-blocks {
  &__layout {
    display: grid;
    gap: var(--space-3);
    grid-template-columns: 1fr;
    grid-template-areas:
      "featured-topics"
      "badges-ticker"
      "featured-list"
      "homepage-right"
      "homepage-cta";
    margin-block: var(--space-6);
  }

  @container homepage-blocks (width > 800px) {
    &__layout:has(
        .homepage-blocks__block-container--homepage-right:not(:empty)
      ) {
      grid-template-areas:
        "featured-topics featured-topics"
        "badges-ticker badges-ticker"
        "featured-list homepage-right"
        "homepage-cta homepage-cta";
      grid-template-columns: 2fr 1fr;
    }

    &__layout:not(
        :has(.homepage-blocks__block-container--homepage-right:not(:empty))
      ) {
      grid-template-areas:
        "featured-topics"
        "badges-ticker"
        "featured-list"
        "homepage-right"
        "homepage-cta";
      grid-template-columns: 1fr;
    }
  }

  &__block {
    &--featured-list {
      grid-area: featured-list;
    }

    &--featured-topics {
      grid-area: featured-topics;
    }

    &--badges-ticker {
      grid-area: badges-ticker;
    }

    &--homepage-cta {
      grid-area: homepage-cta;
    }
  }

  &__block-container {
    &--homepage-right {
      grid-area: homepage-right;
      display: flex;
      flex-direction: column;
      gap: var(--space-4);

      &:empty {
        display: none;
      }
    }
  }
}
